
.text{
    padding-left: 650px;
    color: rgb(138, 5, 5);
    font-size: 30px;
    font-weight: bold;
}
img {
    width: 350px;
    height: 500px;
}
.slide{
    display: none;
    margin: 0 auto;
    text-align: center;
}
.active{
    display: block!important;
}


.prev, .next{
    color: #fff;
    background-color: rgb(138, 5, 5);
    border-radius: 50%;
    border: none;
    padding: 20px;
    cursor: pointer;
}
.prev{
    margin-right: 20px;
}
.prev:hover, .next:hover{
    background-color:#ffff;
    color: rgb(138, 5, 5);
    border: 2px solid rgb(138, 5, 5);

}

.buttons {
    margin-top: 20px;
    margin-left: 650px;
} 
