
.text{
    padding-left: 620px;
    color: rgb(138, 5, 5);
    font-size: 30px;
    font-weight: bold;
}
#gallery{
    width: 640px;
    margin: 20px auto;
    padding-left: 200px;
    
}

#gallery .photos img{
    width: 50%;
    display: none;
}

#gallery .photos img:first-child{
    display: block;
}

.prev, .next{
    color: #fff;
    background-color: rgb(138, 5, 5);
    border-radius: 50%;
    border: none;
    padding: 20px;
    cursor: pointer;
}
.prev{
    margin-right: 20px;
}
.prev:hover, .next:hover{
    background-color:#ffff;
    color: rgb(138, 5, 5);
    border: 2px solid rgb(138, 5, 5);

}

.buttons {
    margin-top: 20px;
    margin-left: 85px;
} 
