.input{
  padding: 5px;
}
.text{
  font-size: 20px;
  font-weight: 500;
}
.btn{
  padding: 5px;
  background: rgb(165, 165, 248);
  border: none;
 
}
.showBtn{
  padding: 5px;
  background: rgb(165, 165, 248);
  border: none;
 
}
